.app {
    background-color: tomato;
    width: 100px;
    height: max-content;
}

.container {
    background-color: rgb(129, 71, 255);
    width: 200px;
    height: max-content;
}

.active {
    width: 200px;
    background-color: aqua;
}